apiVersion: apps/v1
kind: Deployment
metadata:
  name: clutch-emp-mysql-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: clutch-employee
  template:
    metadata:
      labels:
        app: clutch-employee
    spec:
      containers:
      - name: mysql
        image: mysql:latest
        env:
        # - name: MYSQL_ROOT_PASSWORD
        #   value: Colony77
          # valueFrom:
          #   secretKeyRef:
          #     name: clutch-emp-mysql-secret
          #     key: password
        ports:
        - containerPort: 3306
        volumeMounts:
        - name: mysql-persistent-storage
          mountPath: /var/lib/mysql
      volumes:
      - name: mysql-persistent-storage
        persistentVolumeClaim:
          claimName: clutch-emp-mysql-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: clutch-emp-mysql-clusterip
spec:
  selector:
    app: clutch-employee
  ports:
    - protocol: TCP
      port: 3306
      targetPort: 3306
  type: ClusterIP

---

apiVersion: v1
kind: Service
metadata:
  name: clutch-emp-mysql-loadbalancer
spec:
  selector:
    app: clutch-employee
  ports:
    - protocol: TCP
      port: 3306
      targetPort: 3306
  type: LoadBalancer
